/* You can add global styles to this file, and also import other style files */

/* Angular Material Theme */
@import '@angular/material/prebuilt-themes/azure-blue.css';

/* Reset and Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  color: #ffffff;
}
